@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white dark:bg-[#121212] text-ligth-textprimary dark:text-dark-textprimary;
}

.buttonDefautl {
  @apply bg-brand-500 rounded text-zinc-100 px-2 py-1 text-sm;
}
.buttonDefautl:hover {
  @apply bg-purple-800 transition-all;
}
